
body {
  color:whitesmoke;
  font-family:Verdana;
  background-color: black;
}

.home {
   background-color:black;
  width: 400;
}

header{
  text-align: center;
}
 h1{
   text-align: center;
 }
 .sentence{
   border: 1px solid white;
   margin:  auto;
   height: 450px;
   padding: 10px;
   color:white;
 }

 .Message{
  display: flex;
  align-items: stretch;
 }

 .Header{
   display: flex;
   align-items: stretch;
   
 }
 
 .運営{
  border: 1px solid white;
  margin:  auto;
  height: 60px;
  padding: 5px;
  color:white;
}

.挨拶{
  border: 1px solid white;
  margin:  auto;
  height: 60px;
  padding: 5px;
  color:white;
}
.会社概要{
  border: 1px solid white;
  margin:  auto;
  height: 60px;
  padding: 5px;
  color:white;
}