body{
  display: table;
  color:whitesmoke;
  font-family:Verdana;
  background-color: black;
  margin: 50px;
}

h1{
 text-align: center;
 margin:50px auto 50px auto;
}

h3{
 text-align: center;
}

.home {
  background-color:black;
  width: 400;
}
.title{
  font-size: 500%;
  margin-bottom: 0;
}

.L-Boap{
  font-size: 200%;
  margin: 20px;
}

.description{
  margin: 100px;
  font-style: oblique;
}

.header{
  text-align: center;
  padding: 70px;
  border:10px white;
  margin: 50px;
}

.home {
  background-color:black;
  border: 2px solid white;
  width: 400;
}

.Message{
  display: flex;
  align-items: last baseline;
}

.home2{
  display: flex;
  align-items: stretch;
  margin-top: 100px;
}
 
.messageLink{
  font-size:25px ;
  margin:  auto;
  height: auto;
  width: auto;
  padding: 10px 80px 10px 80px;
  color:white;
}

.profileLink{
  font-size:25px ;
  margin:  auto;
  height: auto;
  width: auto;
  padding: 10px 80px 10px 80px;
  color:white;
}

.kotei{
  display: table;
}

.memberLink{
  font-size:25px ;
  margin:  auto;
  height: auto;
  width: auto;
  padding: 10px 80px 10px 80px;
  color:white;
}

.message{
  margin-top: 400px;
}

.messageDetails{
  display: flex;
}

.sentence{
 border: 10px solid white;
 padding: 10px;
 color:white;
}

.yukari{
  font-size: 75%;
}

.profile{
  margin-top: 400px;
}

.profileDetails{
  margin-top: 100px;
}

.table-simple{
 width: 100%;
 table-layout: fixed;
 margin: auto;
}

.table-column {
  background-color: rgb(128, 120, 105);
  padding: 10px;
  border: 2px solid white;
}

.table-description{
  padding: 10px;
  border: 2px solid white;
  text-align: center
}

.history{
  margin-top: 400px;
}

.ul-simple{
  margin: 50px;
}

.ulojisan{
  margin: 20px;
}

.ul-column{
  margin: 20px;
  font-size: 90%;
}

.CEO{
  font-style: oblique;
  margin: 0 0 30px 15px;
  font-size: 13px;
  text-align: center;
}

.memeber{
  margin-top: 400px;
}

.table-column-project{
  margin: 0px;
  padding: 5px;
  border: 10px;
}

.memberone{
  display: flex;
  align-items: stretch;
}

.membertwo{
  display: flex;
  align-items: stretch;
}

.memberthree{
  display: flex;
  align-items: stretch;
}

.memberfour{
  display: flex;
  align-items: stretch;
}

